#questcard {
/*  background-image: url('/assets/images/dagger.png');*/
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: difference;


  min-height: 300px;
  max-height: 300px;
  min-width: 250px;
  max-width: 250px;

}

.light .mat-card-dashboard {
  box-shadow: 0 0 lightgrey, -0.2em 0 0.4em grey !important;
  background-color: rgb(156, 125, 125) !important;
  /*  background-color: #6c757d !important;*/
}

.dark .mat-card-dashboard {
  box-shadow: 0 0 lightgrey, -0.2em 0 0.4em grey !important;
  /*  background-color: rgb(156, 125, 125) !important;*/
  background-color: #6c757d !important;
}

.quest-belohnung-pos {
  position: absolute;
  bottom: 32px;
  left: 20px;
  font-size: unset;
}

.quest-icon {
  height: 100px;
  width: 220px;
  border-radius: 2%;
  flex-shrink: 0;
  object-fit: cover;
}

.mat-card-title {
  position: absolute;
  top: 36%;
}

.mat-card-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}

.quest-status {
  position: absolute;
  bottom: 15px;
  left: 60px;
}

.useQuestCards {
  position: absolute;
  right: 0;
}
