#questcard {
/*  background-image: url('/assets/images/dagger.png');*/
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: difference;
  min-height: 300px;
  max-height: 300px;
  min-width: 250px;
  max-width: 250px;
}

.mat-card-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}

.quest_picture {
  position: absolute;
  left: 35%;
  /*  width: 80px;
    height: 80px;*/

}

.title {
  position: center;
}
.mat-card-dashboard {
  box-shadow: 0 0 lightgrey, -0.2em 0 0.4em grey !important;
  background-color: rgb(156, 125, 125) !important;
  /*  background-color: rgb(211, 211, 211) !important;*/
  /*  background-color: rgb(128, 128, 128) !important;*/
  /*  background-color: rgb(239, 231, 219) !important;*/

}

.quest-belohnung-pos {
  position: absolute;
  bottom: 32px;
  left: 20px;
  font-size: unset;
}

.useQuestCards {
  position: absolute;
  right: 0;
}

.quest-icon {
  height: 100px;
  width: 220px;
  border-radius: 10%;
  flex-shrink: 0;
  object-fit: cover;
}

.mat-card-title {
  position: absolute;
  top: 36%;
}

