<div class="highscore">

  <mat-card-content>
    <h4>Leaderboard</h4>

    <td-data-table #dataTable [data]="leaderboard" [columns]="columns">
    </td-data-table>
    <!--      <div>
            <mat-tab-group>
              <mat-tab label="XP">

                  <td-data-table #dataTable [data]="leaderboard" [columns]="columns">
                  </td-data-table>
              </mat-tab>

              <mat-tab label="Trophäen">
                <p>Coming soon.....</p>
              </mat-tab>

            </mat-tab-group>

          </div>-->


    <!--
            <div class="chatbox">
              <button mat-button (click)="openChat()">Chat</button >
            </div>-->


  </mat-card-content>


</div>
