.mainstage {
  position: relative;
}

.nebeneinander {
  display: flex;
}

.artefact-image img {
  height: 200px;
  width: 200px;
}

.artefact {
  min-width: 120%;
}

.meine-artefakte {
  left: 0 !important;
}

.marktplatz {
  position: relative;
  height: 100%;
}

.title {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.mein-artefact-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: normal !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  padding: 0;
  margin: 0;
}

.goldandlevel {
  position: absolute;
  align-items: center;
  display: flex;
  bottom: 10px;
}

.artefact-liste {
  left: 10px;
}

.description-artefakt {
  padding: .25rem;
  padding-top: 45px;
  padding-bottom: 20px;
  padding-right: 45px;
  padding-left: 45px;
}

.mat-card-content {

}
