<div class="background">
  <div class="row">
    <div class="col-md-3" style="padding-right: 0">
      <mat-card class="marktplatz">
        <mat-card-content>
          <h4 class="title">{{user?.username}}s Artefakte</h4>
          <mat-grid-list cols="1" rowHeight="3:1">
            <mat-grid-tile class="artefact-liste" *ngFor="let artefact of userArtefacts">
              <img class="mein-artefact-image" [src]="artefact?.icon" [matTooltip]="artefact.description">
              <span style="position: absolute; left: 105px"> {{artefact?.name}}</span>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-md-6" style="padding-right: 0;padding-left: 0">
      <mat-card class="marktplatz ">

        <swiper [config]="swiperConfig" [index]="slideIndex">
          <div class="cards-container" *ngFor="let artefact of artefacts" #currentArtefact>
            <mat-card-content class=" d-flex flex-column align-items-center">

                <span>
                  <h4 class="title"> {{artefact?.name}} </h4>
                </span>

              <mat-card class="artefact-image">
                <mat-card-content class="artefact-image-rahmen">
                  <img [src]="artefact?.icon">
                </mat-card-content>
              </mat-card>

              <div class="title">
                Kosten:
                <span class="p-1">{{artefact?.price}}
                  <em mat-list-icon class="ra ra-gold-bar ra-lg"></em>
                </span>
                Stufe:
                <span class="p-1">{{artefact?.minLevel.levelNumber}}
                  <em mat-list-icon class="ra ra-perspective-dice-random ra-lg"></em>
                </span>
                Verfügbar:
                <span class="p-1">
                  {{artefact?.quantity}}
                </span>
                <br>
              </div>
              <span class="description-artefakt">{{artefact.description}}</span>

              <div class="artefact-kaufen" *ngIf="user?.level >= artefact?.minLevel && user?.gold > artefact.price">
                <button (click)="buyArtefact(artefact)" mat-stroked-button>Kaufen für {{artefact.price}} <em
                  mat-list-icon class="ra ra-gold-bar ra-lg"></em></button>
              </div>
              <div class="artefact-disable" *ngIf="!(user?.level >= artefact?.minLevel && user?.gold > artefact.price)">
                <button [matTooltip]="'Nicht genug Gold oder die Stufe nicht erreicht'" mat-stroked-button disabled>
                  Kaufen für {{artefact.price}} &nbsp; <em mat-list-icon class="ra ra-gold-bar ra-lg"></em></button>
              </div>
            </mat-card-content>

          </div>
        </swiper>
      </mat-card>
    </div>
    <div class="col-md-3" style="padding-left: 0">
      <mat-card class="marktplatz">
        <mat-card-content>
          <app-highscore [leaderboard]="leaderboard"></app-highscore>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


</div>

