.mainstage {
  position: relative;
}

.nebeneinander {
  display: flex;
}

.artefact-image img {
  height: 200px;
  width: 200px;
}

.artefact {
  min-width: 120%;
}

.meine-artefakte {
  left: 0 !important;
}

.marktplatz {
  position: relative;
  height: 100%;

  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.mein-artefact-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /*  align-items: normal !important;*/
  top: 13px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  padding: 0;
  margin: 0;
}

.artefact-liste {
  left: 10px;
  position: absolute;
  align-items: center;
}

.description-artefakt {
  padding: .25rem;
  padding-top: 15px;
  padding-bottom: 35px;
  padding-right: 45px;
  padding-left: 45px;
  font-size: 20px;
}

.artefact-image-rahmen {
  background-color: white;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  right: 24px !important;
  left: 24px !important;
}

.artefact-kaufen {
  background-color: green;
  border-radius: 10%;
  bottom: 35px;
  position: absolute;
}

.artefact-disable {
  position: absolute;
  bottom: 35px;
}
