<h2 mat-dialog-title>Spielregeln</h2>
<mat-dialog-content class="mat-typography">
  <h3>Was ist SonarQuest?</h3>
  <p>Das Warten des Codes ist in der Regel eine unbeliebte Aufgabe bei den Entwicklern.
    Daher bleiben in SonarQube vermehrt Issues offen und werden nicht bearbeitet. Dies kann auf lange Sicht zu komplexen Problemen
    in der Software führen. Daher ist es wichtig auf eine gute Softwarequalität zu setzen. </p>
  <p>SonarQuest ist eine Anwendung die es den Entwicklern erleichtern soll, die besagte Softwarequalität zu verbessern.
    Es sind dieselben Issues zu sehen wie in SonarQube auch, da SonarQuest die Daten von SonarQube bezieht.
    Der Unterschied ist: SonarQuest setzt auf Gamification.</p>
  <p>Angelehnt an ein Rollenspiel werden die Entwickler im Team auf eine Abenteuerreise geschickt.
    Die Issues werden in Quests verpackt, sie bekämpfen Monster und schließen somit Sicherheitslücken, lösen Rätsel indem sie Tests schreiben etc.
    Zur Belohnung gibt es Erfahrungspunkte und Gold, womit auf dem integrierten Markt Artefakte für den eigenen Avatar gekauft werden können.
    Der spielerische Ansatz soll das Team motivieren, die Qualität im Projekt zu steigern </p>

  <p> WICHTIG!</p>
  <p> Damit die Punkte für das gelöste Issue auch gutgeschrieben werden kann muss die Quest und der Issue im Vorfeld angenommen werden!!</p>

  <h3>Raids &amp; Quests</h3>
  <p>Ein Raid ist eine Teamaufgabe, es gilt einen Gegner gemeinsam zu bekämpfen. Ein Raid besteht aus mehreren Quest. Durch das lösen der Quest wird der Gegner geschwächt und letztendlich besiegt.</p>
  <h3>Mein Avatar</h3>
  <p>> Hier sind eure persönlichen Informationen über euren Avatar. Ihr könnt die Daten jederzeit neu einstellen. Für ein neues Profilbild könnt ihr derzeit nur die verfügbaren Bilder auswählen.</p>
    <h3>Dashboard</h3>
  <p>> Hier sind eure persönlichen Informationen über euren Avatar. Ihr könnt die Daten jederzeit neu einstellen. Für ein neues Profilbild könnt ihr derzeit nur die verfügbaren Bilder auswählen.</p>


  <h3>Raids</h3>
  <p>Build features quickly with simple, declarative templates. Extend the template language with
    your own components and use a wide array of existing components. Get immediate Angular-specific
    help and feedback with nearly every IDE and editor. All this comes together so you can focus
    on building amazing apps rather than trying to make the code work.</p>

  <h3>Quality Gate</h3>
  <p>From prototype through global deployment, Angular delivers the productivity and scalable
    infrastructure that supports Google's largest applications.</p>
  <h3>Quests</h3>
  <p>> Hier sind eure persönlichen Informationen über euren Avatar. Ihr könnt die Daten jederzeit neu einstellen. Für ein neues Profilbild könnt ihr derzeit nur die verfügbaren Bilder auswählen.</p>

  <h3>Marktplatz</h3>

  <p>Angular is a platform that makes it easy to build applications with the web. Angular
    combines declarative templates, dependency injection, end to end tooling, and integrated
    best practices to solve development challenges. Angular empowers developers to build
    applications that live on the web, mobile, or the desktop</p>

  <h3>Taverne</h3>

  <p>Die Taverne ist ein Chat. Hier könnt ihr mit den anderen Spielern kommunizieren.</p>

  <p>The basic building blocks of an Angular application are NgModules, which provide a compilation
    context for components. NgModules collect related code into functional sets; an Angular app is
    defined by a set of NgModules. An app always has at least a root module that enables
    bootstrapping, and typically has many more feature modules.</p>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
