<div class="background">
  <div>
    <div class="row">

      <div class="col-sm-9" style="padding-right: 0">

        <div class="row">
          <!-- FORTSCHRITT-->
          <div class="col-8 col-sm-6" style="padding-right: 0">
            <app-progress></app-progress>
          </div>


          <!--AVATAR-->
          <div class="col-8 col-sm-6" style="padding-left: 0;">
            <app-avatar></app-avatar>
          </div>
        </div>

        <!--      QUEST UND RAIDS-->
        <mat-card>
          <mat-card-content>
            <div>
              <mat-tab-group>
                <mat-tab label="Quest">
                  <div>
                    <app-available-quests style="box-shadow: none"></app-available-quests>
                  </div>

                </mat-tab>
                <mat-tab label="Raid">
                  <div>

                    <app-raids-page></app-raids-page>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--HIGHSCORE-->

      <div class="col-8 col-sm-3" style="padding-left: 0">
        <mat-card class="highscore">

          <div>
            <app-highscore [leaderboard]="leaderboard"></app-highscore>
          </div>

        </mat-card>

      </div>

    </div>
  </div>


</div>



