.highscore {
  margin-top: 10px;
  height: 97.5%;
  padding-left: 0;
}

.runde-ecken {
  border-radius: 200px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px
}

.progress-card {
  height: 210px;
  margin-top: 20px;
}

.mat-card-dashboard {
  margin-left: 20px;
}
