<h1> Dashboard - {{user.username}} </h1>

<div>

  <div>
    <div class="row">

      <div class="col-sm-9">


        <div class="row">
          <!-- FORTSCHRITT-->
          <div class="col-8 col-sm-6">
            <mat-card>
              <mat-card-content>
                <div>
                  <app-progress></app-progress>
                </div>
              </mat-card-content>
            </mat-card>

          </div>

          <!--AVATAR-->
          <div class="col-4 col-sm-6">
            <mat-card>
              <mat-card-content>
                <div class="row">
                  <div class="col-2 col-sm-6">


                    Avatar <br>
                    <div class="avatar-image">
                      <img [src]="img" alt="The image of your avatar.">
                    </div>

                  </div>


                  <div class="col-2 col-sm-6">
                    <h5>Klasse: {{user.avatarClass.name}} </h5>
                    <br>
                    <h5>Rasse: {{ user.avatarRace.name}}</h5>
                    <h5>XP: {{user.xp}}</h5>
                    <h5>Gold: {{user.gold}}</h5>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <!--      QUEST UND RAIDS-->
        <mat-card>
          <mat-card-content>
            <div>
              <mat-tab-group>
                <mat-tab label="Quest">

                  <div>
                    <app-available-quests></app-available-quests>
                  </div>

                </mat-tab>
                <mat-tab label="Raid">
                  <div>
                    <h2 align="center">Verfügbare Raids</h2>
                    <app-raids-page></app-raids-page>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <!--HIGHSCORE-->
      <div class="col-8 col-sm-3">
        <mat-card class="highscore">

          <div>
            <!-- <app-highscore></app-highscore>-->
          </div>

        </mat-card>

      </div>

    </div>
  </div>


</div>



